.remarks{
   width:600px;
}
.remarks1{
    width:230px;
 }
 .remarks12{
   width:500px;
}
.remarks13{
width: 100%;

}
.remarks14{
 margin-left: -200px;
 width: 2400%;
}
.save{
   width: 100%;
   margin-top: 30px;

}
.addleadimage{
   width: 150px;
   margin-left: 30px;
   margin-top: 80px;
}
.division{

   margin-top: 150px;
   background-color:#FEF4EA ;
   height: 100vh;
}



@media  screen and (max-width:767px){
   .division{

      margin-top: 100px;
      background-color:#FEF4EA ;
      height: 200vh;
   }
   
   .addleadimage{
   width: 150px;
   margin-left: 100px;
   margin-top: 0px;
}

   .remarks14{
      margin-left: -70px;
 width: 195%;
   }
   .remarks13{
      width:285px;
   }

    .remarks{
        width:285px;
     }
     
     .remarks1{
        width:285px;
     }
     .remarks12{
      width:285px;
   }
   .save{
      width: 100%;
      margin-top: 30px;
      padding-left: 120px;
      padding-right: 120px;
   }
   
}

@media  screen and (max-width:1137px){

   .remarks{
       width:10px;
    }
    
    .remarks1{
       width:199px;
    }
    .remarks12{
     width:240px;
  }

  
  
}