.leadform {
  height: 35px;
  width:100%;
}

.search {
  margin-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
}

.searchinput{
  padding-left: 100px;
  padding-right: 100px;
}


.btn1 {
  padding-left: 10px;
  padding-right: 10px;

}
.btn3 {
  padding-left: 10px;
  padding-right: 10px;

}


.editbtn1 {
  margin-right: 120px;
}

.a1{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #468966;
}
.editbtn13 {
  margin-right: 100px;
}

.card-header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-custom {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.card-custom:hover {
  transform: scale(1.05);
}

.dashboardIcon {
  width: 70px;
  margin-left: -100px;
}


.tooltip-custom {
  max-width: none;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.truncated-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px; /* Adjust as needed */
  cursor: pointer;
}
.leadimage{
  width: 150px;
  margin-top: 60px;
}



@media screen and (max-width:766px) {
  .leadimage{
    width: 100px;
    margin-top: 5px;
  }
  .card-custom {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-custom:hover {
   transform:null;
}
  
  .editbtn13 {
    margin-right: 10px;
  }
  .leadform {
    height: 35px;
    width: 290px;
  }


  .btn1 {
    padding-left: 20px;
    padding-right:20px;

  }
  .btn3 {
    padding-left: 25px;
    padding-right:25px;

  }

  .btn2 {
    padding-left: 32px;
    padding-right: 32px;
  }

  .search {
    margin-top: 30px;
    padding-left: 120px;
    padding-right: 120px;
  }
  .searchinput{
    padding-left: 120px;
    padding-right: 120px;
  }

  .editbtn1 {
    margin-right: 15px;
  }

 
}